<div class="hustlers-wrapper">
    <!-- Main Content -->
    <section class="hero">
      <h1>{{ section.settings.heading }}</h1>
      <p class="subheading">{{ section.settings.subheading }}</p>
      <p class="description">{{ section.settings.description }}</p>
      <a href="/pages/about" class="learn-more-button">Learn More 
        <span class="hustlers-diagonalArrow">
          <svg class="navArrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M5.228 14.772c-.304-.304-.304-.797 0-1.101l7.113-7.114h-3.993c-.43 0-.779-.348-.779-.778 0-.43.349-.779.779-.779h5.873c.207 0 .405.082.55.228.147.146.229.344.229.55v5.874c0 .43-.349.779-.779.779-.43 0-.779-.35-.779-.78v-3.992l-7.113 7.113c-.304.304-.797.304-1.1 0Z"/>
          </svg>
        </span>
      </a>
    </section>
  
    <!-- Listings -->
    {% comment %} #TODO: Move to it's own liquid component later {% endcomment %}
    <section class="listings">
      <div class="listing-item">
        <span class="number">01</span>
        <h2 class="title">Listing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum vulputate lacinia.</p>
      </div>
      <div class="listing-item">
      <span class="number">02</span>
        <h2 class="title">Listing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum vulputate lacinia.</p>
      </div>
      <div class="listing-item highlighted">
      <span class="number">03</span>
        <h2 class="title">Listing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum vulputate lacinia.</p>
      </div>
    </section>
  </div>

  {% schema %}
{
    "name": "hustlers-homepage-banner",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Welcome to My Custom Section"
        },
        {
          "type": "text",
          "id": "subheading",
          "label":"Subheading",
          "default": "7 guests · 3 bedrooms · 6 beds · 2 bathrooms"
        }
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "This is a custom description for the section."
        }
    ],
    "presets": [
        {
            "name": "hustlersAvenue-hompage-banner",
            "category": "Custom"
        }
    ]
}
{% endschema %}